/* .ColorBox {
  width: 20%;
  height: 25%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: -4px;
}

.singleColorBox .ColorBox {
  height: 50%;
} */
/* .ColorBox.go-back {
  background: black;
} */

/* .box-content {
  position: absolute;
  left: 0.3rem;
  bottom: 0.3rem;
  font-size: 13px;
  letter-spacing: 1px;
} */

/* .ColorBox .light-text {
  color: #fff;
}
.ColorBox .light-text:hover {
  color: #fff;
}
.ColorBox .dark-text {
  color: rgba(0, 0, 0, 0.8);
}
.ColorBox .dark-text:hover {
  color: rgba(0, 0, 0, 0.8);
} */
/* .copy-button,
.back-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: #fff;
  border: 2px solid #ffffff33;
  border-radius: 5px;
  padding: 0.4rem 1.8rem;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0;
  transition: all .2s ease-out;
} */
/* .copy-button-dark {
  color: #00000080;
  border: 2px solid #00000080;
}
.back-button {
  opacity: 1;
  text-transform: capitalize;
  text-decoration: none;
} */
/* .see-more {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,.3);
  padding: 0.2rem 0.8rem;
} */
/* a .see-more {
  color: black;
} */
/* a .see-more:active,
a .see-more:visited,
a .see-more:link,
a .see-more:hover
 {
  color: black;
} */
/* .ColorBox:hover .copy-button {
  opacity: 1;
} */

/* .copy-overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 0;
  transition: transform 0.5s ease-in-out;
} */
/* .copy-overlay.show {
  position: absolute;
  opacity: 1;
  z-index: 10;
  transform: scale(50);
} */

/* .copy-msg {
  opacity: 0;
  z-index: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  transform: scale(0.1);
  color: #fff;
} */

/* .copy-msg.show {
  opacity: 1;
  z-index: 10;
  transform: scale(1);
  transition: all 0.5s ease-in-out 0.3s;
}  */
/* .copy-msg h1 {
  font-weight: 400;
  display: block;
  width: 100%;
  text-align: center;
  background: rgba(255,255,255,.3);
  padding: 1rem;
  text-transform: uppercase;
} */
h1 {
  color: rgba(90, 88, 88, 0.3);
}
/* .copy-msg p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -3rem;
} */